@font-face {
    font-family: 'Pretendard';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../font/PretendardVariable.woff2') format('woff2-variations');
}

* { margin: 0; padding: 0;
    font-family: 'Pretendard';
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* backdrop-filter: blur(7px); */
}
.header-wrap {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    margin: 0 auto;
    padding: 0 35px;
}
.main-logo {
    width: 110px;
    height: 32px;
    /* background-color: brown; */
    background-image: url(../img/logo.png);
    background-size: cover;
}
.header-wrap > span {
    padding: 10px 15px;
    background-color: #0053FB;
    cursor: pointer;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    header {
        height: 55px;
    }
    .header-wrap {
        padding: 0 20px;
    }
    .main-logo {
        width: 100px;
        height: 30px;
    }
}
.button-fixed button {
    position: fixed;
    z-index: 9998;
    bottom: 40px;
    height: 87px;
    border-radius: 25px;
    border: none;
    transition: 0.4s;
}
.button-fixed-refund {
    transform: translateX(50%);
    right: 50%;
    width: 455px;
    background-image: linear-gradient(to right, #1728CB 0%, #2871F8 51%, #1728CB 100%);
    background-size: 200% auto;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}
.button-fixed-kakaotalk {
    right: 50px;
    width: 87px;
    font-size: 18px;
    font-weight: 800;
    color: #371C1D;
    background-color: #FFEA2C;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.button-fixed-kakaotalk img {
    width: 40%;
    display: block;
    margin: 0 auto;
}
.button-fixed-refund:hover {
    cursor: pointer;
    transition: 0.3s ease-out;
    background-position: right center;
}
.button-fixed-kakaotalk:hover {
    cursor: pointer;
    transition: 0.3s ease-out;
    transform: translateY(-10px);
}
@media screen and (max-width: 768px) {
    .button-fixed .button-fixed-refund {
        width: 80%;
        height: 65px;
        border-radius: 20px;
        font-size: 20px;
        bottom: 10px;
    }
    .button-fixed .button-fixed-kakaotalk {
        bottom: 90px;
        right: 20px;
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 480px) {
    .button-fixed .button-fixed-kakaotalk {
        bottom: 90px;
        right: 20px;
        width: 65px;
        height: 65px;
        border-radius: 15px;
        font-size: 15px;
        font-weight: 700;
    }
}

.container-01 {
    position: relative;
    z-index: 1;
    background-color: #dff1ff;
    overflow: hidden;
}
.container-01 .bg-shape1 {
    position: absolute;
    z-index: 2;
    top: -80px;
    left: calc((100vw/2) - 700px);
    width: 300px;
}
.container-01 .bg-shape2 {
    position: absolute;
    z-index: 3;
    top: 630px;
    left: calc((100vw/2) - 1080px);
    width: 500px;
}
.container-01 .bg-shape3 {
    position: absolute;
    z-index: 4;
    top: 100px;
    right: calc((100vw/2) - 1200px);
    width: 1000px;
}
.container-01 .bg-shape {
    opacity: 0;
    animation: shape-show 1.2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes shape-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 900px) {
    .container-01 .bg-shape1 {
        top: 0;
        left: calc((100vw/2) - 400px);
        width: 200px;
    }
    .container-01 .bg-shape3 {
        top: 470px;
        right: calc((100vw/2) - 400px);
        width: 500px;
    }
}
@media screen and (max-width: 540px) {
    .container-01 .bg-shape1 {
        top: -10px;
        left: calc((100vw/2) - 250px);
        width: 200px;
    }
    .container-01 .bg-shape3 {
        top: 470px;
        right: calc((100vw/2) - 300px);
        width: 400px;
    }
}


.content {
    position: relative;
    z-index: 10;
    display: grid;
    justify-content: center;
    grid:
        "   .          .                  .              main-img     main-img" 10%
        "   .   main-text-top       main-text-top        main-img     main-img" 10%
        "   .   main-text-bottom    main-text-bottom     main-img     main-img" 70%
        "   .          .                  .              main-img     main-img" 10%
        / 15% 15% 20% 30% 20%;
    max-width: 1660px;
    padding: 150px 35px 0 35px;
    /* background-color: lightgray; */
    margin: 0 auto;
    overflow: hidden;
}
.main-heading-top {
    grid-area: main-text-top;
    place-self: center left;
    opacity: 0;
    font-size: 26px;
    font-weight: 400;
    background-color: #0053FB;
    color: #fff;
    animation: show 1.5s;
    animation-fill-mode: forwards;
    border-radius: 50px;
    padding: 10px 18px;
    text-align: center;
}
.main-heading-bottom {
    grid-area: main-text-bottom;
    opacity: 0;
    font-size: 85px;
    font-weight: 700;
    white-space: nowrap;
    animation: show 1.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    /* background-color: pink; */
}
@keyframes show {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
.main-heading-bottom > p:nth-child(1) { letter-spacing: 4px; }
.main-heading-bottom > p:nth-child(2) { letter-spacing: 2px; }
.main-heading-bottom > p:nth-child(3) { letter-spacing: -2px; }
.main-heading-bottom > p > .p1 { background-image: linear-gradient(to right bottom, #007eff, #0040ff, #000d85); }
.main-heading-bottom > p > .p2 { background: linear-gradient(to right bottom, #004cff, #000d85, #004cff) }
.main-heading-bottom > p > .p3 { background: linear-gradient(to right bottom, #000d85, #0040ff, #007eff); }
.main-heading-bottom > p > .pointcolor {
    font-weight: 800;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.main-model-img {
    display: flex;
    align-items: end;
    position: relative;

    animation: modelShowup 1s;
    animation-fill-mode: forwards;
    /* background-color: crimson; */
    grid-area: main-img;
}
@keyframes modelShowup {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
.main-model-img img {
    height: 100%;
}
.main-model-img p { /* 브랜드모델 김현욱 */
    position: absolute;
    top: 37%;
    right: calc((100%/2) - 280px);
    text-align: right;
    color: #727272;
    font-size: 18px;
}
@media screen and (max-width: 1700px) {
    .main-model-img p {
        right: 14%;
    }
}
@media screen and (max-width: 1400px) {
    .main-model-img p {
        right: 12%;
        font-size: 16px;
    }
}
@media screen and (max-width: 1280px) {
    .content {
        grid:
        "       .                  .              main-img     main-img" 5%
        "main-text-top       main-text-top        main-img     main-img" 5%
        "main-text-top       main-text-top        main-img     main-img" 10%
        "main-text-bottom    main-text-bottom     main-img     main-img" 70%
        "       .                  .              main-img     main-img" 10%
        / 30% 20% 30% 20%;
    }
}
@media screen and (max-width: 900px) {
    .content {
        display: grid;
        justify-content: center;
        grid:
            "main-text-top" 8%
            "main-text-bottom" 37%
            "main-img" 55%
            / 1fr;
        max-width: 500px;
    }
    .main-heading-top { place-self: center center; }
    .main-heading-bottom { place-self: center center; font-size: 75px; }
    .main-heading-bottom > p:nth-child(1) { letter-spacing: 3px; }
    .main-model-img { justify-content: center; }
    .main-model-img p { font-size: 14px; right: 10%; }
}
@media screen and (max-width: 540px) {
    .content {
        display: grid;
        justify-content: center;
        grid:
            "main-text-top" 10%
            "main-text-bottom" 40%
            "main-img" 50%
            / 1fr;
        max-width: 400px;
    }
    .main-heading-top { place-self: center center; font-size: 20px; }
    .main-heading-bottom { place-self: center center; font-size: 60px; }
    .main-heading-bottom > p:nth-child(1) { letter-spacing: 2px; }
    .main-heading-bottom > p:nth-child(2) { letter-spacing: 1px; }
    .main-model-img { justify-content: center; }
    .main-model-img p { top: 30%; font-size: 12px; }
}


/* 소제목 공통 css */
.sub-title p{
    text-align: center;
    letter-spacing: -2px;
    white-space: nowrap;
}
.sub-title .sub-title-1{
    font-size: 50px;
    font-weight: 700;
}
.sub-title .sub-title-2{
    font-size: 70px;
    font-weight: 800;
    background: linear-gradient(to right, #0097F5, #0725CC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.sub-description {
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.3px;
}
.sub-description .sub-description-bold {
    font-size: 40px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .sub-title .sub-title-1{
        font-size: 40px;
    }
    .sub-title .sub-title-2{
        font-size: 50px;
    }
    .sub-description {
        font-size: 20px;
        line-height: 33px;
    }
    .sub-description .sub-description-bold {
        font-size: 25px;
    }
}

/* 소제목 공통 css 끝*/

.container-02{
    width: 100%;
    padding: 150px 0;
    background-color: #fff;
}
.container-03{
    width: 100%;
    padding: 150px 0 100px 0;
    background-color: #fff;
}
.container-02 .sub-description .question-mark {
    overflow: hidden;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    background-color: #009EFF;
    line-height: 30px; /* 물음표가 원 가운데 위치하게 */
}
@media screen and (max-width: 768px) {
    .container-02 { padding: 100px 0; }
    .container-02 .sub-description .question-mark {
        position: relative;
        top: 3px;
        width: 25px;
        height: 25px;
        font-size: 22px;
        line-height: 25px;
    }
}
.container-02 .sub-description .question-mark:hover {
    cursor: pointer;
}

/* 고용지원금이란? 팝업창 시작 */
.sub-description input {
    display: none;
}
.sub-description input + p + div {
    position: absolute;
    z-index: 700;
    opacity: 0;
    visibility: hidden;
    left: 43%;
    width: 500px;
    height: 350px;
    background-image: linear-gradient(to right bottom, #84C7FC, #536EFD);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: 0.3s;
    transform: translateY(-10px);
}
.sub-description input + p + div > label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px;
    cursor: pointer;
}
.sub-description input + p + div > label > i + div > i { /* 돋보기 아이콘 */
    color: #87abf8;
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    margin-right: 3px;
    font-size: 22px;
    transform: translateY(3px);
}
.sub-description input + p + div > label > i { /* X 아이콘 */
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff; /*#404f9e*/
}
.sub-description input:checked + p + div {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    transform: translateY(5px);
}

/* 팝업창 내용 */
/* 팝업 제목 */
.sub-description input + p + div > label > div {
    overflow: hidden;
    color: #fff;
    font-size: 30px;
    /* background-color: red; */
    /* text-shadow: 2px 2px 6px #4062F2; */
}
.sub-description input + p + div > label > div > .popup-text-bold {
    font-size: 40px;
    overflow: hidden;
}
.sub-description input + p + div > label > div > i {
    font-size: 25px;
}
/* 팝업 본문 */
.sub-description input + p + div > label > div + div {
    width: 100%;
    height: 75%;
    margin-top: 20px;
    background-color: #fff;
    color: #252525;
    text-align: justify;
    padding: 35px;
    line-height: 25px;
    text-shadow: none;
}
.sub-description input + p + div > label > div + div > .popup-text {
    font-size: 19px;
}
.sub-description input + p + div > label > div + div > .popup-text > span { /* 국가지원사업 형광펜 효과 */
    background-color: #dbe1f1;
}
.sub-description input + p + div > label > div + div > .popup-text-small {
    font-size: 16px;
    line-height: 20px;
    color: #536EFD;
}
/* 고용지원금이란? 팝업창 끝 */


/* 고용지원금이란? 팝업창 반응형 */
@media screen and (max-width: 1000px) {
    .sub-description input + p + div {
        left: 30%;
    }
}
@media screen and (max-width: 768px) {
    .sub-description input + p + div {
        right: 7%;
        font-size: 20px;
        width: 420px;
    }
    .sub-description input + p + div > label {
        padding: 30px 20px 0 20px;
    }
    .sub-description input + p + div > label > div {
        font-size: 25px;
    }
    .sub-description input + p + div > label > div > .popup-text-bold {
        font-size: 35px;
    }
    .sub-description input + p + div > label > div > i {
        font-size: 20px;
    }
}
@media screen and (max-width: 610px) {
    .sub-description input + p + div {
        left: 8%;
    }
}
@media screen and (max-width: 480px) {
    .sub-description input + p + div {
        left: 3%;
        width: 350px;
        height: 330px;
    }
    .sub-description input + p + div > label {
        padding: 30px 15px 0 15px;
    }
    /* 팝업 제목 */
    .sub-description input + p + div > label > i + div > i { /* 돋보기 아이콘 */
        width: 28px;
        height: 28px;
        overflow: hidden;
        line-height: 30px;
        margin-right: 3px;
        font-size: 18px;
        transform: translateY(3px);
    }
    .sub-description input + p + div > label > div {
        font-size: 20px;
    }
    .sub-description input + p + div > label > div > .popup-text-bold {
        font-size: 30px;
    }
    .sub-description input + p + div > label > div > i {
        font-size: 18px;
    }
    /* 팝업 본문 */
    .sub-description input + p + div > label > div + div {
        padding: 25px;
    }
    .sub-description input + p + div > label > div + div > .popup-text {
        font-size: 18px;
    }
    .sub-description input + p + div > label > div + div > .popup-text-small {
        font-size: 16px;
        line-height: 20px;
    }
}


.container-02 .box-element-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: repeat(1, 340px);
    gap: 52px;
    padding: 50px 0;
}
.container-02 .box-element-wrapper .box-element {
    display: grid;
    grid:
        "box-element-img" 65%
        "box-element-text" 35%
        / 1fr;
    text-align: center;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-weight: 700;
    letter-spacing: -1px;
    opacity: 0;
    transform: translateY(-50px);
}
.container-02 .box-element-wrapper .box-element > .box-element-img { grid-area: box-element-img; display: flex; align-items: center; justify-content: center; }
.container-02 .box-element-wrapper .box-element > .box-element-img img { height: 85%; }

.container-02 .box-element-wrapper .box-element > .box-element-text { grid-area: box-element-text; font-size: 26px; }

.container-02 .box-element-wrapper .box-element .box-element-text-bold {
    font-size: 50px;
    color: #009EFF;
}
.container-02 .box-element-wrapper .box-element .box-element-text-bold-small {
    font-size: 40px;
}
@media screen and (max-width: 1100px) {
    .container-02 .box-element-wrapper {
        grid-template-columns: repeat(1, 500px);
        grid-template-rows: repeat(3, 200px);
        gap: 30px;
    }
    .container-02 .box-element-wrapper .box-element {
        grid:
            "box-element-img   box-element-text" 100%
            / 1fr 1fr;
        align-items: center;
        text-align: left;
    }
    .container-02 .box-element-wrapper .box-element > .box-element-img { height: 100%; }
}
@media screen and (max-width: 540px) {
    .container-02 .box-element-wrapper {
        padding: 20px 0 40px 0;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(3, 150px);
    }
    .container-02 .box-element-wrapper .box-element > .box-element-text { grid-area: box-element-text; font-size: 20px; }
    .container-02 .box-element-wrapper .box-element .box-element-text-bold { font-size: 36px; }
    .container-02 .box-element-wrapper .box-element .box-element-text-bold-small { font-size: 28px; }
}
/* container 2 끝. */


/* review 시작 */
.container-review {
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-review > .sub-title {
    padding: 50px 0;
}
@media screen and (max-width: 768px) {
    .container-review { padding-bottom: 50px; }
    .container-review > .sub-title { padding: 50px 0 0 0; }
}

/* review 팝업 시작 */

.review-popup {
    visibility: hidden;
    position: absolute;
    z-index: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 760;
    bottom: 0;
    /* background-color: rgba(122, 97, 122, 0.5); */
    width: 100%;
    height: 100%;
}
.reviewBgToggle {
    visibility: visible;
}
.review-popup .re-pop {
    position: absolute;
    bottom: 140px;
    width: 700px;
    height: 500px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    line-height: 35px;
    padding: 50px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.review-popup .re-pop > .close-btn {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;
    /* background-color: pink; */
}
.review-popup .re-pop > .close-btn::before { position: absolute; top: 50%; transform: translateY(-50%) rotate(45deg); display: inline; content: ''; width: 40px; height: 2px; background-color: #767171; }
.review-popup .re-pop > .close-btn::after { position: absolute; top: 50%; transform: translateY(-50%) rotate(-45deg); display: inline; content: ''; width: 40px; height: 2px; background-color: #767171; }
.review-popup .re-pop > .review-popup-text {
    position: absolute;
    z-index: 3;
    width: 88%;
}
.review-popup .re-pop > .review-popup-text > .title {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 30px;
    overflow: hidden;
}
.review-popup .re-pop > .review-popup-text-bottom {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 4;
    right: 50px;
    bottom: 50px;
    font-weight: 700;
    text-align: right;
    /* background-color: red; */
}
.review-popup .re-pop > .review-popup-text-bottom > .client { font-size: 22px; }
.review-popup .re-pop > .review-popup-text-bottom > .highlight-0053FB { color: #0053FB; font-size: 24px; }

.review-popup .re-pop img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
}
.review-popup .re-pop::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    /* background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.review-popup .reviewToggle {
    opacity: 1;
}

/* .re1 { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(20px); }
.re2 { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(20px); }
.re3 { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(20px); }
.re4 { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(20px); }
.re5 { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(20px); }
.re6 { background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(20px); } */


/* .re1 { background: url("../img/review-img-01.jpg") no-repeat center/cover; }
.re2 { background: url("../img/review-img-02.jpg") no-repeat center/cover; }
.re3 { background: url("../img/review-img-03.jpg") no-repeat center/cover; }
.re4 { background: url("../img/review-img-04.jpg") no-repeat center/cover; }
.re5 { background: url("../img/review-img-05.jpg") no-repeat center/cover; }
.re6 { background: url("../img/review-img-06.jpg") no-repeat center/cover; } */



@media screen and (max-width: 768px) {
    .review-popup .re-pop {
        width: 500px;
        height: 500px;
        font-size: 18px;
        line-height: 30px;
        padding: 40px 30px 30px 30px;
        border-radius: 10px;
        bottom: 90px;
    }
    .review-popup .re-pop > .close-btn { width: 30px; height: 30px; top: 10px; right: 10px; }
    .review-popup .re-pop > .close-btn::before { width: 30px; }
    .review-popup .re-pop > .close-btn::after { width: 30px; }
    .review-popup .re-pop > .review-popup-text { width: 90%; }
    .review-popup .re-pop > .review-popup-text > .title { font-size: 24px; line-height: 30px; margin-bottom: 20px; padding-right: 30px; }
    .review-popup .re-pop > .review-popup-text-bottom { right: 30px; bottom: 30px; }
    .review-popup .re-pop > .review-popup-text-bottom > .client { font-size: 20px; }
    .review-popup .re-pop > .review-popup-text-bottom > .highlight-0053FB { color: #0053FB; font-size: 22px; }
}
@media screen and (max-width: 540px) {
    .review-popup .re-pop {
        width: 95%;
        height: 400px;
        font-size: 16px;
        line-height: 25px;
        padding: 30px 20px 20px 20px;
        border-radius: 10px;
        bottom: 70px;
    }
    .review-popup .re-pop > .review-popup-text { width: 90%; }
    .review-popup .re-pop > .review-popup-text > .title { font-size: 22px; line-height: 26px; margin-bottom: 14px; }
    .review-popup .re-pop > .review-popup-text-bottom { right: 20px; bottom: 20px; gap: 4px; }
    .review-popup .re-pop > .review-popup-text-bottom > .client { font-size: 18px; }
    .review-popup .re-pop > .review-popup-text-bottom > .highlight-0053FB { color: #0053FB; font-size: 20px; }
}


/* review 팝업 끝 */


.review-container {
    width: 200vw;
}
.review-container .review-wrap {
    opacity: 0;
    display: flex;
    width: 3000vw;
    animation: opacity 2s;
    animation-fill-mode: forwards;
}
@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.review-container .review-wrap .review-roll {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 70px 0;
    animation: rolling_roll 30s linear infinite;
}
@keyframes rolling_roll {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
.review-container .review-wrap .ani-paused {
    animation-play-state: paused;
    cursor: pointer;
}
.review-container .review-wrap .review {
    display: flex;
    align-items: end;
    margin: 15px;
    padding: 30px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 22px;
    font-weight: 700;
    transform: translateY(25px);
    color: #fff;
    font-weight: 600;
    line-height: 30px;
}
.review-container .review-wrap .review:hover {
    cursor: pointer;
}
.review-container .review-wrap .review:nth-child(odd) {
    transform: translateY(-25px);
}

/* review 이미지 삽입, 그라데이션 */
.review-container .review-wrap .review:nth-child(1) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-01.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(2) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-02.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(3) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-03.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(4) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-04.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(5) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-05.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(6) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-06.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(7) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-07.jpg") no-repeat center/cover; }
.review-container .review-wrap .review:nth-child(8) { background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)), url("../img/review-img-08.jpg") no-repeat center/cover; }


@media screen and (max-width: 768px) {
    .review-container { padding: 30px 0; }
    .review-container .review-wrap .review-roll { animation: rolling_roll 20s linear infinite; }
    .review-container .review-wrap .review {
        width: 250px;
        height: 350px;
        font-size: 18px;
        margin: 10px;
        padding: 20px;
    }
}
@media screen and (max-width: 540px) {
    .review-container .review-wrap .review { width: 220px; height: 300px; padding: 15px; }
    .review-container .review-wrap .review-roll { padding: 30px 0; }
}

/* review 끝 */


/* BnH회계법인 비디오 모달창 */
.bnh-video-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}
@media (min-aspect-ratio: 16 / 9) {
   .bnh-video-wrap { width: 177.78vh !important; }
}
@media (max-aspect-ratio: 16 / 9) {
   .bnh-video-wrap { height: 56.25vw !important; }
}
.bnh-video-modal > .bnh-video-wrap {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1080px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bnh-video-modal-active {
    display: block;
}
.bnh-video-modal > span {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 60px;
    height: 60px;
}
.bnh-video-modal > span:hover {
    cursor: pointer;
}
.bnh-video-modal > span > i {
    font-size: 50px;
    color: #fff;
}


/* container 3 시작. */

.container-03 {
    background-color: #F1F7FE;
}
.container-03 .bnh-video {
    position: relative;
    width: 900px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    background-color: #000; /*#F1F7FE*/
}
.bnh-img-2,
.bnh-img-3 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 900px;
    height: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    /* background-color: pink; */
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding: 50px;
}
.bnh-img-2 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../img/bnh-bg-2.jpg) no-repeat center/cover;
}
.bnh-img-3 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../img/bnh-bg-1.jpg) no-repeat center/cover;
}
.bnh-img-2 > p:first-child,
.bnh-img-3 > p:first-child { /* BnH내용의 제목 */
    color: #ffcc00;
    font-size: 35px;
    font-weight: 600;
    border-bottom: 1px solid #ffcc00;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 8px;
}
.bnh-img-2 p > span,
.bnh-img-3 p > span { /* 형광펜효과: 파랑 */
    background-color: #032ccf;
}
.bnhImgActive {
    opacity: 1;
    visibility: visible;
}
.container-03 .bnh-video:hover {
    cursor: pointer;
}
.container-03 .bnh-video img {
    width: 100%;
    transition: 0.3s ease-in-out;
}
.container-03 .bnh-video .bnh-video-playBtn {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 75px;
    height: 75px;
    border: 8px solid #fff;
    border-radius: 50%;
}
.container-03 .bnh-video .bnh-video-playBtn .ion-play {
    color: #fff;
    font-size: 38px;
    padding: 10px 0 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 주요 고객 약력 */
/* .bnh-img-2 .primary-customer-shape {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bnh-img-2 .primary-customer {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
}
.bnh-img-2 .primary-customer p {
    position: relative;
    z-index: 400;
    text-align: center;
    color: #fff;
    padding: 12px;
    line-height: 25px;
    background-color: #000;
    width: 160px;
    font-size: 20px;
    border-radius: 30px;
}
.bnh-img-2 .primary-customer-img {
    display: grid;
    grid-template-columns: 20% 14% 30% 18% 18%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.bnh-img-2 .primary-customer-img img {
    padding-right: 15px;
    height: 100%;
    object-fit: contain;
}
.bnh-img-2 .primary-customer-img img:last-child {
    padding-right: 0;
} */

/* BnH 버튼 3개 */
.bnh-btn-wrap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 900px;
    background-color: #262b38;
    color: #fff;
}
.bnh-btn-wrap > div { /* BnH 각 버튼들 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background-color: #262b38;
    box-shadow: rgba(0, 61, 80, 0.1) 0px 4px 12px;
    transition: 0.3s;
    cursor: pointer;
    padding: 7px;
}
.bnh-btn-wrap > div:nth-child(1):before,
.bnh-btn-wrap > div:nth-child(2):before {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
}
.bnh-btn-wrap > div > span {
    padding: 15px;
}
.bnh-btn-wrap .BtnActive {
    background-color: #585858;
    /* background-image: linear-gradient(#585858, #585858),linear-gradient(to right, #0097F5, #0725CC);
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow: hidden; */
}
/* BnH 버튼 3개 끝 */

@media screen and (max-width: 1010px) {
    .container-03 .bnh-btn-wrap { max-width: 90%; }
    .container-03 .bnh-video { width: 90%; border-top-right-radius: 20px; border-top-left-radius: 20px; }
    .bnh-img-2,
    .bnh-img-3 {
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        font-size: 22px;
        padding: 40px;
        line-height: 32px;
    }
    .bnh-img-2 .primary-customer { bottom: 0; padding: 0 40px; }
    .bnh-img-2 .primary-customer p { padding: 8px 10px; width: 150px; font-size: 20px; overflow: hidden; }
    .bnh-img-2 .primary-customer-img { height: 80px; }
}
@media screen and (max-width: 768px) {
    .container-03 { padding: 100px 0; }
    .bnh-img-2,
    .bnh-img-3 { font-size: 20px; padding: 30px; }
    .bnh-img-2 > p:first-child,
    .bnh-img-3 > p:first-child {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .bnh-img-2 .primary-customer { padding: 0 30px; }
    .bnh-img-2 .primary-customer p { width: 140px; }
    .bnh-img-2 .primary-customer-img { height: 65px; margin: 0; padding: 0; }
}
@media screen and (max-width: 650px) {
    .bnh-img-2,
    .bnh-img-3 { padding: 25px; }
    .bnh-img-2 > p:first-child,
    .bnh-img-3 > p:first-child { font-size: 23px; }
    .bnh-img-2 .primary-customer-shape { height: 100px; }
    .bnh-img-2 .primary-customer { height: 90px; padding: 0 25px; }
    .bnh-img-2 .primary-customer p { width: 120px; font-size: 18px; }
    .bnh-img-2 .primary-customer-img { height: 50px; }
    .bnh-btn-wrap > div { font-size: 18px; padding: 8px; }
    .bnh-btn-wrap > div > span { padding: 8px; }
}
@media screen and (max-width: 540px) {
    .container-03 .bnh-btn-wrap { max-width: 97%; }
    .container-03 .bnh-video { width: 97%; border-top-right-radius: 20px; border-top-left-radius: 20px; }
    .bnh-btn-wrap > div { font-size: 16px; }
    .bnh-img-2,
    .bnh-img-3 { font-size: 17px; padding: 18px; line-height: 22px; }
    .bnh-img-2 > p:first-child,
    .bnh-img-3 > p:first-child { font-size: 19px; margin-bottom: 5px; }
    .bnh-img-2 p,
    .bnh-img-3 p { padding-bottom: 8px; }
    .bnh-img-3 p:nth-child(2) { margin-bottom: 10px; }
    .bnh-img-2 p:last-child,
    .bnh-img-3 p:last-child { padding-bottom: 0; }
    .container-03 .bnh-video .bnh-video-playBtn { width: 45px; height: 45px; border: 5px solid #fff; right: 10px; bottom: 10px; }
    .container-03 .bnh-video .bnh-video-playBtn .ion-play { font-size: 20px; padding: 8px 0 0 3px; }
    .bnh-img-2 .primary-customer-shape { height: 75px; }
    .bnh-img-2 .primary-customer { padding: 0 18px; height: 65px; }
    .bnh-img-2 .primary-customer p { padding: 6px; width: 95px; font-size: 16px; line-height: 16px; border-radius: 20px; }
    .bnh-img-2 .primary-customer-img { grid-template-columns: 30% 25% 45%; height: 40px; padding: 8px 0 0 0; margin: 0; transform: translateY(-5px); }
    .img-hidden { display: none; }
    .bnh-img-2 .primary-customer-img img { padding-right: 10px; }
    .bnh-img-2 .primary-customer-img img:nth-child(3) { padding-right: 0; }
    .bnh-btn-wrap > div:nth-child(1):before,
    .bnh-btn-wrap > div:nth-child(2):before { height: 30px; }
}

/* container 3 끝. */

/* container 4 시작. */

.container-04 {
    width: 100%;
    padding: 100px 0;
}
.refund-info-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 30px;

    grid:
        "con1   con2   con2" 200px
        "con1   con3   con3" 200px
        "con1   con4   con4" 200px
        "con5   con5   con5" 300px
        / 1fr 1fr;

    padding: 40px;
}
.refund-info-wrapper .info-element {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 20px;
    padding: 30px 15px 30px 40px;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    overflow: hidden;

}
.refund-info-wrapper .info-element:nth-child(1) { grid-area: con1; background-image: linear-gradient(to right bottom, #096BF3, #8DE6B8); }
.refund-info-wrapper .info-element:nth-child(2) { grid-area: con2; background-color: #fff; display: flex; justify-content: space-between; align-items: center; }
.refund-info-wrapper .info-element:nth-child(3) { grid-area: con3; background-color: #fff; display: flex; justify-content: space-between; align-items: center; }
.refund-info-wrapper .info-element:nth-child(4) { grid-area: con4; background-color: #fff; display: flex; justify-content: space-between; align-items: center; }
.refund-info-wrapper .info-element:nth-child(5) { grid-area: con5; background-image: linear-gradient(to right, #536EFD, #c0e3ff);
                                        display: flex; justify-content: space-between; align-items: top; }

.info-element:nth-child(2) p, .info-element:nth-child(3) p, .info-element:nth-child(4) p, .info-element:nth-child(5) p { width: 55%; }

.highlight-lemon { color: #FFFF00; }
.highlight-blue { color: #009EFF; }

.refund-info-wrapper .refund-info-img {
    width: 45%;
    padding: 3%;
    object-fit: contain;
}
.refund-info-wrapper .refund-info-img-phone {
    position: relative;
    left: 30%;
    top: 20%;
}
.refund-info-wrapper .refund-info-img-pay {
    width: 45%;
    height: 300px;
    object-fit: contain;
    align-self: center;
}

@media screen and (max-width: 1000px) {
    .refund-info-wrapper {
        max-width: 700px;
        margin: 0 auto;
        display: grid;
        gap: 25px;

        grid:
            "con1" 400px
            "con2" 200px
            "con3" 200px
            "con4" 200px
            "con5" 200px
            / 1fr;
    }
    .refund-info-wrapper .refund-info-img { height: 200px; }
    .refund-info-wrapper .refund-info-img-phone { position: absolute; width: 220px; left: 55%; top: 15%; }
    .refund-info-wrapper .info-element:nth-child(5) { align-items: center; }
}
@media screen and (max-width: 768px) {
    .container-04 { padding: 50px 0; }
}
@media screen and (max-width: 600px) {
    .refund-info-wrapper {
        gap: 20px;
        grid:
            "con1" 400px
            "con2" 150px
            "con3" 150px
            "con4" 150px
            "con5" 150px
            / 1fr;

        padding: 50px 20px;
    }
    .refund-info-wrapper .info-element { font-size: 20px; line-height: 30px; padding: 30px 15px 30px 30px; }
    .refund-info-wrapper .refund-info-img-phone { width: 180px; left: 40%; top: 35%; }
    .refund-info-wrapper .refund-info-img { height: 150px; }
    .info-element:nth-child(2) p, .info-element:nth-child(3) p, .info-element:nth-child(4) p, .info-element:nth-child(5) p { width: 60%; }
}
@media screen and (max-width: 480px) {
    .info-element:nth-child(5) p { width: 60%; }
    .refund-info-wrapper .refund-info-img-pay { width: 40%; }
}

/* container 4 끝. */

/* container-qna 시작. */

.container-qna {
    padding: 70px 0;
}
.qna-list {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
}
.qna-list-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding: 35px 0;
}
.qna-list-q span {
    width: 85%; /* 화면 줄이면 글자때문에 아이콘 밀려나는거 방지 */
}
.qna-wrap:hover > .qna-list-q {
    cursor: pointer;
    color: #0053FB;
    transition: 0.3s;
}
.qna-list-a {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    line-height: 28px;
    text-align: justify;
    padding-right: 30px;
}
.qna-list-a-bold {
    font-weight: 700;
}
.active {
    max-height: 250px;
    padding-bottom: 35px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.fa-angle-down {
    font-size: 30px;
    transition: 0.3s;
}
.qna-icon-flip {
    transform: scaleY(-100%);
    transition: 0.3s;
}
@media screen and (max-width: 768px) {
    .qna-list { padding: 50px 0; }
    .qna-list-q { padding: 26px 0; }
    .active { padding-bottom: 26px; }
}
@media screen and (max-width: 540px) {
    .qna-list { width: 85%; padding: 25px 0; }
    .qna-list-q { font-size: 18px; padding: 24px 0; }
    .qna-list-a { font-size: 16px; line-height: 24px; }
    .active { padding-bottom: 24px; }
    .fa-angle-down { font-size: 20px; }
}

/* container qna 끝. */

/* footer 시작 */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #D7D9E0;
    padding-bottom: 120px;
}
.footer-info {
    text-align: center;
    color: #4F4F51;
}
.footer-info img {
    width: 120px;
}
.footer-info .footer-text p:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
    color: #252628;
    margin: 30px 0;
}
.footer-info .footer-text p:nth-child(1) a {
    color: #252628;
}
.footer-info .footer-text .footer-info-small {
    line-height: 30px;
    font-weight: 550;
}
.footer-info .footer-text p:nth-child(4) {
    margin-top: 35px;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    footer { justify-content: left; }
    .footer-info { text-align: left; }
    .footer-info .footer-text .footer-info-small span { display: block; }
}
@media screen and (max-width: 540px) {
    footer { padding: 0 0 70px 25px; }
    .footer-info img { width: 100px; }
    .footer-info .footer-text p:nth-child(1) { font-size: 16px; }
    .footer-info .footer-text .footer-info-small { font-size: 14px; line-height: 25px; }
}
/* footer 끝 */
