/*
z-index

#main-wrap > .container-01 > .text 1101

header mobile icon 1100
header mo-nav-wrap 1099
dimd-bg-mo 1098

header 999
header nav 998
dimd-bg 997
pagination 996

container01 102
container02 101    >>    3개 아이템: 2 / 배경: 1
container03 100    >>    브랜드 타이틀: 5 / slide-pagination: 4 / slide-description-wrap: 3 / slide-wrap: 2 / bg: 1
container04 99
container05 98
*/

* { margin: 0; padding: 0; box-sizing: border-box; }

:root { --vh: 100%; }
html,
body {
    width: 100%;
    height: 100vh;
    height: var(--vh);
}

ul, li { list-style: none; }
a { text-decoration: none; }

header { 
    position: fixed;
    z-index: 999;
    width: 100%; 
    height: 120px; 
    color: #fff;
    background-color: transparent;
    transition: 0.3s ease-out;
}
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
    opacity: 0;
    transition: opacity 0s;
}

/* 헤더 hover */
.hover {
    color: #222;
    background-color: #fff;
    transition: 0.3s ease-out;
}
.hover::after {
    opacity: 1;
    transition: opacity 0.2s linear 0.15s;
}
.hover > .nav-wrap > .nav > .logo {
    background: url(../img/logo-black.png) no-repeat center/contain;
    cursor: pointer;
}
.hover > .nav-wrap > .nav > .mall > a {
    font-family: 'AppleSB';
    border: 1px solid #222;
    cursor: pointer;
    color: #222;
}
.hover > .nav-wrap > .nav > .mall > a > span::before {
    font-weight: bold;
}
/* 헤더 hover 끝 */


header {
    letter-spacing: -1px;
}
header > .nav-wrap {
    position: relative;
    z-index: 998;
}
header > .nav-wrap > .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .nav-wrap > .nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
header > .nav-wrap > .nav > .logo {
    height: 60px;
    background: url(../img/logo-white.png) no-repeat center/contain;
    transition: 0.5s;
    cursor: pointer;
}

header > .nav-wrap > .nav > .mall > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'AppleSB';
    width: 175px;
    height: 42px;
    border: 1px solid #fff;
    transition: 0.3s;
    color: #fff;
}
header > .nav-wrap > .nav > .mall > a > span {
    line-height: 0px;
}
header > .nav-wrap > .nav > .mall > a > span::before {
    font-family: 'ionicons';
    content: '\f110';
    font-weight: lighter;
    margin-right: 7px;
}
header > .nav-wrap > .nav > .mo { display: none; }
header > .mo-nav-wrap { display: none; }

/* header > .nav-wrap > .nav > ul {
    display: flex;
    font-family: 'ManropeB';
    font-size: 20px;
    transition: 0.3s;
} */
header > .nav-wrap > .nav > ul {
    display: flex;
    font-family: 'AppleSB';
    font-size: 18px;
    transition: 0.3s;
}
header > .nav-wrap > .nav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 120px;
}
header > .nav-wrap > .hover-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease-out;
}
header > .nav-wrap > .active {
    height: 300px;
    opacity: 1;
    transition: 0.3s ease-out;
}
header > .nav-wrap > .hover-nav > ul {
    font-family: 'AppleM';
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
    width: 158px;
}

@media screen and (max-width: 1280px) {
    header > .nav-wrap > .nav > ul > li { padding: 0 37px; }
    header > .nav-wrap > .hover-nav > ul { width: 132px; }
    header > .nav-wrap > .nav > div { width: 240px; }
}

header > .nav-wrap > .hover-nav > ul > li > a {
    color: #999;
}
header > .nav-wrap > .hover-nav > ul > li > a:hover {
    cursor: pointer;
    font-family: 'AppleB';
    color: #3f5a45;
}
.dimd-bg {
    position: fixed;
    top: 0;
    z-index: 997;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.dimd-bg-mo {
    position: fixed;
    top: 0;
    z-index: 1098;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.dimdBgActive {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
#main-wrap { 
    position: relative;
    /* top: 0; */
    width: 100vw; 
    height: calc(var(--vh, 1vh) * 100);
    
    transition: 1s;
    overflow: hidden;
}
#main-wrap > .container {
    width: 100%;
    height: 100%;
    transition: 0.8s;
    background-color: #fff;
    overflow: hidden;
}
#main-wrap > .container-01,
#main-wrap > .container-02 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
    position: fixed;
    z-index: 996;
    top: 50%;
    transform: translateY(-50%);
    right: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination > p {
    width: 6px;
    height: 6px;
    padding: 3px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 26px;
    cursor: pointer;
}
.pagination > .on { 
    width: 12px;
    height: 12px;
    background-color: #4E6553;
}
.pagination > p:first-child {
    margin-top: 0;
}
.dark > p {
    background-color: #a0a0a0;
}

@media screen and (max-width: 1280px) {
    .pagination { right: 30px; }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .pagination { display: none; }
}


/* 밝은 배경에서 header (글씨 #222, 배경 #fff) */
header > .headerDarkText {
    color: #222; transition: 0.3s;
}
header > .headerDarkText > .nav > .logo {
    height: 60px;
    background: url(../img/logo-black.png) no-repeat center/contain;
    transition: 0.5s;
}
header > .headerDarkText > .nav > .mall > a {
    font-family: 'AppleSB';
    border: 1px solid #222;
    transition: 0.5s;
    color: #222;
}
header > .headerDarkText > .nav > .mall > a > span::before {
    font-weight: bold;
}
.headerWhiteBg {
    background-color: #fff;
}
.headerWhiteBg::after {
    opacity: 1;
}
/* 밝은 배경에서 header 글씨 어둡게 끝 */



/* 모바일 */
@media screen and (max-width: 1100px) {
    header { height: 65px; }
    header > .nav-wrap > .nav { height: 65px; }
    header > .nav-wrap > .nav > ul { display: none; }
    header > .nav-wrap > .nav > div { width: 220px; }
    header > .nav-wrap > .nav > .mall > a { display: none; }
    header > .mo { display: block; position: absolute; z-index: 1100; top: 20px; right: -2px; width: 24px; height: 24px; margin-right: 20px; cursor: pointer; }
    header > .mo > span { position: absolute; height: 2px; background-color: #fff;}
    header > .mo > span:nth-child(1) { width: 100%; top: 2px; transition: top 0.25s 0.25s, transform 0.25s, background-color 0.25s; }
    header > .mo > span:nth-child(2) { width: 100%; top: 50%; transform: translateY(-50%); right: 0; transition: width 0.25s, right 0.25s, background-color 0.25s; }
    header > .mo > span:nth-child(3) { width: 100%; bottom: 2px; transition: bottom 0.25s 0.25s, transform 0.25s, background-color 0.25s; }

    header > .moDark > span { background-color: #000; }

    header > .mo-nav-wrap { 
        display: block; 
        position: absolute; 
        z-index: 1099; 
        top: 0; 
        right: -50%;
        width: 50%;
        height: calc(var(--vh, 1vh) * 100);

        background-color: #fff;
        color: #000;
        padding-top: 130px;
        padding-left: 30px;
        transition: 0.5s;
    }
    header > .mo-nav-wrap > ul > li > span {
        font-family: 'ManropeB';
        font-size: 20px;
    }
    header > .mo-nav-wrap > ul > li > span > span { /* 모바일 네비 아이콘 자리 */
        position: absolute;
        right: 10px;
    }
    header > .mo-nav-wrap > ul > li > span > .mo-minus-icon {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }
    header > .mo-nav-wrap > ul > li > span > .mo-minus-icon::after {
        padding: 20px 20px 20px calc(100vw*0.43);
        font-family: 'ionicons';
        content: "\f209";
        cursor: pointer;
    }
    header > .mo-nav-wrap > ul > li > span > .mo-plus-icon {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
    }
    header > .mo-nav-wrap > ul > li > span > .mo-plus-icon::after {
        padding: 20px 20px 20px calc(100vw*0.43);
        font-family: 'ionicons';
        content: "\f218";
        cursor: pointer;
    }
    header > .mo-nav-wrap > ul > li > .mo-sub {
        margin: 20px 0 40px 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    header > .mo-nav-wrap > ul > li > .listActive {
        max-height: 120px;
        transition: max-height 0.7s;
    }
    header > .mo-nav-wrap > ul > li > ul > li > a {
        font-family: 'AppleM';
        color: #7D7E7F;
        line-height: 26px;
    }
    header > .mo-nav-wrap > .mall { 
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        border: 1px solid #dddddd;
        letter-spacing: -1px;
        padding: 16px 0;

        bottom: 40px;
        left: 50%;
        transform: translateX(-50%); 
    }
    header > .mo-nav-wrap > .mall > a > span { 
        font-family: 'AppleM';
        color: #3f3f3f;
    }
    header > .mo-nav-wrap > .mall > a > span::before { 
        font-family: 'ionicons';
        content: '\f110';
        font-weight: lighter;
        margin-right: 7px;
    }

    header > .moNavActive {
        right: 0;
    }

    header > .moIconAni > span { background-color: #000; }

    header > .moIconAni > span:nth-child(1) { 
        top: calc(50% - 1px); 
        transform: rotate(-45deg); 
        transition: 
            top 0.25s,
            transform 0.25s 0.25s,
            background-color 0.25s;
    }
    header > .moIconAni > span:nth-child(2) { 
        width: 0px; 
        right: 50%;
        transition: 
            width 0.25s, 
            right 0.25s,
            background-color 0.25s;
    }
    header > .moIconAni > span:nth-child(3) { 
        bottom: calc(50% - 1px); 
        transform: rotate(45deg); 
        transition: 
            bottom 0.25s,
            transform 0.25s 0.25s,
            background-color 0.25s;
    }
}
@media screen and (max-width: 670px) {
    header > .mo-nav-wrap > ul > li > span > .mo-minus-icon::after,
    header > .mo-nav-wrap > ul > li > span > .mo-plus-icon::after {
        padding: 20px 20px 20px calc(100vw*0.4);
    }
}
@media screen and (max-width: 600px) {
    header > .mo-nav-wrap { width: 70%; right: -70%; }
    header > .moNavActive { right: 0; }
    header > .mo-nav-wrap > ul > li > span > .mo-minus-icon::after,
    header > .mo-nav-wrap > ul > li > span > .mo-plus-icon::after {
        padding: 20px 20px 20px calc(100vw*0.6);
    }
}
@media screen and (max-width: 450px) {
    header > .mo-nav-wrap > ul > li > span > .mo-minus-icon::after,
    header > .mo-nav-wrap > ul > li > span > .mo-plus-icon::after {
        padding: 20px 20px 20px calc(100vw*0.55);
    }
    header > .mo-nav-wrap > .mall { 
        width: 170px;
        padding: 12px 0;
    }
}
@media screen and (max-width: 370px) {
    header > .mo-nav-wrap > ul > li > span > .mo-minus-icon::after,
    header > .mo-nav-wrap > ul > li > span > .mo-plus-icon::after {
        padding: 20px 20px 20px calc(100vw*0.46);
    }
}



/* 메인 1 */

#main-wrap > .container-01 { 
    position: absolute;
    z-index: 102;
    top: 0px;
    overflow: hidden;
}
#main-wrap > .container-01 > .text { 
    position: absolute; 
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1101; 
    color: #fff; 
    text-align: center;
}
#main-wrap > .container-01 > .text > p { letter-spacing: -1px; }
#main-wrap > .container-01 > .text > .text-bold { font-family: 'NanumBrush'; font-size: 80px; line-height: 100px; }
#main-wrap > .container-01 > .text > .text-bold1 { font-family: 'ylee'; font-size: 76px; line-height: 120px; }
#main-wrap > .container-01 > .text > .text-bold2 { font-family: 'iceJaram-Rg'; font-size: 90px; line-height: 100px; }
#main-wrap > .container-01 > .text > .text-bold3 { font-family: 'shining-star'; font-size: 90px; line-height: 100px; }
#main-wrap > .container-01 > .text > p:last-child { font-family: 'AppleR'; font-size: 20px; margin-top: 30px; }
#main-wrap > .container-01 > video { width: 100vw; }


@media screen and (max-aspect-ratio: 16/9) {
    #main-wrap > .container-01 > video {
        width: auto;
        height: calc(var(--vh, 1vh) * 100);
    }
}
.main_scroll_icon {
    position: absolute;
    width: 35px;
    bottom: calc(100vh*0.04);
}
.play-btn { display: none; justify-content: center; align-items: center; width: 30px; height: 30px; background-color: #000; border-radius: 50%; margin-bottom: 14px; }
.ion-play { color: #fff; font-size: 18px; padding-left: 2px; }
@media screen and (max-width: 1200px) {
    #main-wrap > .container-01 > .text > .text-bold { font-size: calc(10vw*0.65); line-height: calc(10vw*0.85); }
}
@media screen and (max-width: 980px) {
    .br { display: block; }
    #main-wrap > .container-01 > .text > p { letter-spacing: 0px; }
    #main-wrap > .container-01 > .text > p:last-child { font-size: 16px; margin-top: 14px; }
}

@media screen and (max-width: 480px) {
    #main-wrap > .container-01 > .text { text-align: left; margin-left: 20px; top: initial; bottom: 10%; }
    #main-wrap > .container-01 > .text > .text-bold { font-size: calc(10vw*0.8); line-height: calc(10vw*0.9); }
    #main-wrap > .container-01 > .text > p:last-child { font-size: 14px; }
    .main_scroll_icon { width: 30px; }
}

/* 메인 2 */

#main-wrap > .container-02 { 
    position: absolute;
    z-index: 101;
    top: 100%;
}
#main-wrap > .container-02 > .hover-item {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid:
        "item1 item2 item3" 100%
        /1fr 1fr 1fr;
    text-align: center;
    color: #fff;
}
#main-wrap > .container-02 > .hover-item > .item-subject { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}
#main-wrap > .container-02 > .hover-item > .itemHover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
#main-wrap > .container-02 > .hover-item > .item-subject:nth-child(1) { grid-area: item1; }
#main-wrap > .container-02 > .hover-item > .item-subject:nth-child(2) { grid-area: item2; }
#main-wrap > .container-02 > .hover-item > .item-subject:nth-child(3) { grid-area: item3; }

#main-wrap > .container-02 > .hover-item > .item-subject > p { font-family: 'SuiteH'; font-size: 36px; letter-spacing: -2px; margin: 10px; }
#main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon { position: relative; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; margin: 40px; }
#main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon > .horizontal { position: absolute; display: block; width: 40px; height: 1px; background-color: #fff; transition: 0.5s ease-out; }
#main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon > .vertical { position: absolute; display: block; width: 40px; height: 1px; background-color: #fff; transform: rotate(90deg); }
#main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon > .horizontalShrink { width: 0px; transition: 0.3s ease-out; }
#main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon > .verticalLong { width: 50px; transition: 0.3s ease-out; }

#main-wrap > .container-02 > .hover-item > .item-subject > .hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: 0.5s ease-out;
    transform: translateY(20px);
}
#main-wrap > .container-02 > .hover-item > .item-subject > .show {
    visibility: visible;
    opacity: 1;
    height: 150px;
    transition: 0.5s ease-out;
    transform: translateY(0);
}
#main-wrap > .container-02 > .hover-item > .item-subject > .hidden > p:nth-child(1) { font-family: 'AppleSB'; font-size: 20px; margin-top: 10px; }
#main-wrap > .container-02 > .hover-item > .item-subject > .hidden > p:nth-child(2) { font-family: 'AppleM'; font-size: 16px; margin: 20px; }
#main-wrap > .container-02 > .hover-item > .item-subject > .hidden > a { cursor: pointer; width: 180px; height: 50px; font-family: 'SuiteM'; font-size: 16px; letter-spacing: -1px; display: inline-flex; justify-content: center; align-items: center; color: #fff; border: 1px solid #fff; margin-top: 20px; border-radius: 30px; }

#main-wrap > .container-02 > .hover-bg { 
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}
#main-wrap > .container-02 > .hover-bg > .main-bg { 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
    background-position: 50% 50%;
}
@media screen and (max-width: 768px) {
    #main-wrap > .container-02 > .hover-bg > .main-bg:nth-child(1) { object-position: 45% center; }
    #main-wrap > .container-02 > .hover-bg > .main-bg:nth-child(2) { object-position: 80% center; }
    #main-wrap > .container-02 > .hover-bg > .main-bg:nth-child(3) { object-position: 65% center; }
    #main-wrap > .container-02 > .hover-item {
        grid:
            "item1" 1fr
            "item2" 1fr
            "item3" 1fr
            /100%;
        text-align: center;
        color: #fff;
        transition: 0.5s;
    }
    #main-wrap > .container-02 > .hover1 { 
        grid:
            "item1" 2fr
            "item2" 1fr
            "item3" 1fr
            /100%;
        transition: 0.5s;
    }
    #main-wrap > .container-02 > .hover2 { 
        grid:
            "item1" 1fr
            "item2" 2fr
            "item3" 1fr
            /100%;
        transition: 0.5s;
    }
    #main-wrap > .container-02 > .hover3 { 
        grid:
            "item1" 1fr
            "item2" 1fr
            "item3" 2fr
            /100%;
        transition: 0.5s;
    }

    #main-wrap > .container-02 > .hover-item > .item-subject:nth-child(2) { border-top: 1px solid rgba(255, 255, 255, 0.3); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    #main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon { margin: 20px; }
}
@media screen and (max-width: 480px) {
    #main-wrap > .container-02 > .hover-bg > .main-bg:nth-child(1) { object-position: 45% center; }
    #main-wrap > .container-02 > .hover-bg > .main-bg:nth-child(2) { object-position: 75% center; }
    #main-wrap > .container-02 > .hover-bg > .main-bg:nth-child(3) { object-position: 62% center; }

    #main-wrap > .container-02 > .hover-item > .item-subject > p { font-size: 26px; margin: 0px; }
    #main-wrap > .container-02 > .hover-item > .item-subject > .plus-icon { display: none; }
    #main-wrap > .container-02 > .hover-item > .item-subject > .hidden > p:nth-child(1) { font-size: 18px; }
    #main-wrap > .container-02 > .hover-item > .item-subject > .hidden > p:nth-child(2) { font-size: 14px; margin: 10px; }
    #main-wrap > .container-02 > .hover-item > .item-subject > .hidden > a { width: 160px; height: 45px; margin-top: 10px; }
}


/* 메인 3 (Brand) */

#main-wrap > .container-03 { 
    position: absolute;
    z-index: 100;
    top: 100%;
    padding-top: 120px;
}
#main-wrap > .container-03 > .container-03-wrap {
    position: relative;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}
#main-wrap > .container-03 > .container-03-wrap > .brand-title {
    position: relative;
    z-index: 5;
    /* font-family: 'SuiteEB';
    font-size: 50px; */
    font-family: 'SuiteB';
    font-size: 42px;
    color: #222;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 40px;
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 750px;
    /* overflow: hidden; */
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1290px;
    display: flex;
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide {
    position: absolute;
    left: 0;
    width: 1200px;
    height: 600px;
    margin: 0 45px;
    transition: all 0.5s;
}

#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide:nth-child(2) img,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide:nth-child(5) img { object-position: 64%; }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide:nth-child(3) img,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide:nth-child(6) img { object-position: 91%; }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 400px;
    height: 300px;
    background-color: #fff;
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    background-color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p { letter-spacing: -1px; padding: 6px 0; }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(1) { font-family: 'AppleB'; font-size: 26px; color: #222; }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(2) { font-family: 'AppleSB'; font-size: 20px; color: #222; }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(3) { font-family: 'AppleR'; font-size: 16px; color: #5D5E5E; }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > a { 
    width: 180px;
    height: 50px;
    font-family: 'SuiteM';
    font-size: 16px;
    color: #3F3F3F;
    border: 1px solid #dddddd;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    margin: 6px 0;
}

#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination {
    position: absolute;
    z-index: 4;
    width: 90%;
    max-width: 1350px;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fff; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'ManropeSB';
    font-size: 16px;
    color: #B0B1B0;
}
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next { width: 60px; height: 60px; border-radius: 50%; background-color: rgba(0,0,0,0.7); cursor: pointer; transition: 0.2s; }
/* #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .number > .current { color: #231815; }  */

#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev > span,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next > span { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: #fff; transition: 0.2s; }


@media (hover: hover) and (pointer: fine) { /* hover를 지원하면서, pointer는 마우스와 같은 정확한 포인터 장치를 지원하는 장치에서만 :hover가 동작되도록하는 코드 */
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev:hover,
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next:hover { background-color: #fff; transition: 0.2s; }

    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev > span:hover,
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next > span:hover { color: #222; transition: 0.2s; }
}


/* #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev > .disabled,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next > .disabled,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev > .disabled:hover,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next > .disabled:hover { color: rgba(255,255,255,0.3); }
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .disabled,
#main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .disabled:hover { color: rgba(255,255,255,0.3); background-color: rgba(0,0,0,0.3); cursor: default; } */

#main-wrap > .container-03 > .container-03-bg { 
    position: absolute; 
    z-index: 1;
    top: 0;
    width: 100%; 
    height: 100%; 
}
#main-wrap > .container-03 > .container-03-bg > div { position: relative; width: 100%; height: 100%; transition: 0.3s; }
#main-wrap > .container-03 > .container-03-bg > div:nth-child(1) { position: absolute; top: 0; left: 0; background-color: #F2F8F2; opacity: 0; } 
#main-wrap > .container-03 > .container-03-bg > div:nth-child(2) { position: absolute; top: 0; left: 0; background-color: #f8f4f2; opacity: 0; } 
#main-wrap > .container-03 > .container-03-bg > div:nth-child(3) { position: absolute; top: 0; left: 0; background-color: #F4F4F4; opacity: 0; } 
#main-wrap > .container-03 > .container-03-bg > div:nth-child(4) { position: absolute; top: 0; left: 0; background-color: #F2F8F2; opacity: 0; } 
#main-wrap > .container-03 > .container-03-bg > div:nth-child(5) { position: absolute; top: 0; left: 0; background-color: #f8f4f2; opacity: 0; } 
#main-wrap > .container-03 > .container-03-bg > div:nth-child(6) { position: absolute; top: 0; left: 0; background-color: #F4F4F4; opacity: 0; } 

@media screen and (max-width: 1500px) {
    #main-wrap > .container-03 > .container-03-wrap > .slide-container { height: 700px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap { width: 1150px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide { width: 1100px; height: 550px; margin: 0 25px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination { max-width: 1050px; }
}
@media screen and (max-width: 1280px) {
    #main-wrap > .container-03 { padding-top: 0px; }
}

@media screen and (max-width: 1200px) {
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap { width: 100vw; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide { width: 100vw; margin: 0; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination { right: 0; }
}
@media screen and (max-width: 980px) {
    #main-wrap > .container-03 > .container-03-wrap > .brand-title { font-size: 40px; margin-bottom: 30px; }
}
@media screen and (max-width: 768px) {
    #main-wrap > .container-03 > .container-03-wrap > .brand-title { font-size: 30px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container { height: 650px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination { width: 95%; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap { width: 350px; height: 260px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(1) { font-size: 22px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(2) { font-size: 18px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(3) { font-size: 14px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > a { width: 150px; height: 40px; font-size: 14px; }    
}
@media screen and (max-width: 640px) { 
    #main-wrap > .container-03 { padding-top: 50px; } 
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .prev,
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-pagination > .next { width: 40px; height: 40px; }
}
@media screen and (max-width: 480px) {
    #main-wrap > .container-03 > .container-03-wrap > .brand-title { font-size: 26px; margin-bottom: 20px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container { height: 500px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap { width: 270px; height: 220px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p,
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > a { padding: 4px 0; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(1) { font-size: 18px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(2) { font-size: 16px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > p:nth-child(3) { font-size: 14px; }
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-description-wrap > .slide-description > a { width: 150px; height: 40px; font-size: 14px; }    
    #main-wrap > .container-03 > .container-03-wrap > .slide-container > .slide-wrap > .slide { height: 380px; }
}




/* 메인 4 (PR) */

#main-wrap > .container-04 { 
    display: grid;
    grid: 
        "pr"
        "footer" 250px
        /100%;
    position: absolute;
    z-index: 99;
    top: 100%;
    background-color: #fff; 
}
#main-wrap > .container-04 > .PR {
    grid-area: pr;
    align-self: center;
    justify-self: center;

    width: 85%;
    max-width: 1400px;
    transform: translateY(40px);
    /* margin: 100px; */
    /* background-color: lightyellow; */
}
#main-wrap > .container-04 > .PR > .PR-title {
    /* font-family: 'SuiteEB';
    font-size: 50px; */
    font-family: 'SuiteB';
    font-size: 42px;
    color: #222;
    letter-spacing: -2px;
    padding-bottom: 80px;
    text-align: center;
}
#main-wrap > .container-04 > .PR > .PR-news-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

#main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news { cursor: pointer; }
#main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p { margin-bottom: 30px; letter-spacing: -1px;}
#main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(1) { 
    font-family: 'AppleSB'; 
    font-size: 22px; 
    color: #222; 

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(2) { 
    font-family: 'AppleR';
    font-size: 16px;
    line-height: 24px;
    color: #7D7E7F;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(3) { 
    font-family: 'ManropeR'; 
    font-size: 14px; 
    color: #7D7E7F; 
}
#main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news:hover > p:nth-child(1) { color: #3f5a45; }

#main-wrap > .container-04 > .PR > .PR-news-btn { 
    cursor: pointer; 
    width: 180px; 
    height: 50px; 
    font-family: 'SuiteM'; 
    font-size: 16px; 
    letter-spacing: -1px; 
    color: #3F3F3F; 
    border: 1px solid #dddddd; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: auto; 
    margin-top: 30px; 
    border-radius: 30px; 
}

/* #main-wrap > .container-04 > .PR > .PR-news-btn {
    position: relative;
    width: 180px;
    font-family: 'AppleB';
    font-size: 18px;
    margin-top: 80px;
    letter-spacing: -1px;
    cursor: pointer;
    color: #222;
}
#main-wrap > .container-04 > .PR > .PR-news-btn::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 136px;
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: #222;
    transition: all 0.3s; 
}
#main-wrap > .container-04 > .PR > .PR-news-btn::after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 170px;
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #222;
    transform: rotate(50deg);
    transition: all 0.3s; 
}
#main-wrap > .container-04 > .PR > .PR-news-btn:hover::before { width: 70px; transition: all 0.5s; }
#main-wrap > .container-04 > .PR > .PR-news-btn:hover::after { left: 196px; transition: all 0.5s; } */

@media screen and (max-width: 1200px) {
    #main-wrap > .container-04 > .PR > .PR-news-wrap { gap: 50px; }
}
@media screen and (max-width: 980px) {
    #main-wrap > .container-04 { 
        grid: 
            "pr"
            "footer" 220px
            /100%;
    }
    #main-wrap > .container-04 > .PR > .PR-title { font-size: 40px; text-align: center; padding-bottom: 60px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap {
        grid-template-columns: initial;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p { margin-bottom: 20px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(2) { -webkit-line-clamp: 2; }
    /* #main-wrap > .container-04 > .PR > .PR-news-btn { margin-top: 40px; } */
}
@media screen and (max-width: 768px) {
    #main-wrap > .container-04 {
        grid:
        "pr"
        "footer" 200px /100%;
    }
    #main-wrap > .container-04 > .PR > .PR-title { font-size: 30px; padding-bottom: 40px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap {
        grid-template-columns: initial;
        grid-template-rows: repeat(3, 1fr);
    }
    /* #main-wrap > .container-04 > .PR > .PR-news-btn { margin-top: 10px; } */
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(1) { -webkit-line-clamp: 1; }
}
@media screen and (max-width: 480px) {
    #main-wrap > .container-04 {
        grid:
        "pr"
        "footer" 150px /100%;
    }
    #main-wrap > .container-04 > .PR { transform: translateY(20px); }
    #main-wrap > .container-04 > .PR > .PR-title { font-size: 26px; padding: 30px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap {
        grid-template-rows: repeat(2, 1fr);
    }
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p { margin-bottom: 10px; }
    /* #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(1) { font-size: 14px; } */
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(1) { font-size: 18px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(2) { font-size: 14px; line-height: 20px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news > p:nth-child(3) { font-size: 12px; }
    #main-wrap > .container-04 > .PR > .PR-news-wrap > .PR-news3 { display: none; }
    #main-wrap > .container-04 > .PR > .PR-news-btn { width: 150px; height: 40px; margin-top: 16px; font-size: 14px; }
}


/* container-05 */

/* .container-05 { 
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 25vh;

    position: absolute;
    z-index: 98;
    top: 100%;
    background: url(../img/footer-bg.jpg) no-repeat center/cover; 
}
.container-05 > .ending-text {
    text-align: center;
    letter-spacing: -1px;
}
.container-05 > .ending-text > div { 
    font-family: 'ManropeB';
    font-size: 34px;
    padding-bottom: 30px;
}
.container-05 > .ending-text > p {
    font-family: 'AppleR';
    font-size: 18px;
} 
.container-05 > .ending-text > div > .ending-text1,
.container-05 > .ending-text > div > .ending-text2,
.container-05 > .ending-text > div > .ending-text3,
.container-05 > .ending-text > .ending-text4 {
    opacity: 1;
    transform: translateY(0px);
}
@media screen and (max-width: 480px) {
    .container-05 > .ending-text > div { font-size: 20px; }
    .container-05 > .ending-text > p:last-child { font-size: 12px; }
} */



/* footer */

/* 메인 푸터 */
.main-footer { 
    grid-area: footer;
    width: 100%;
    height: 250px;
    background-color: #4D6452;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}
.main-footer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-footer > div > p {
    font-family: 'AppleUL';
    color: #fff;
}
.main-footer > div > p > .number {
    font-family: 'ManropeR';
}

@media screen and (max-width: 980px) {
    .main-footer { font-size: 14px; height: 220px; padding-left: 40px;} 
}
@media screen and (max-width: 768px) {
    .main-footer { height: 200px; }
    .main-footer > div { gap: 14px; }
}
@media screen and (max-width: 480px) {
    .main-footer { font-size: 12px; height: 150px; padding-left: 20px;}
    .main-footer > div { gap: 8px; }
}

/* 메인 이외 나머지 푸터 */

footer { 
    position: relative;
    z-index: 1;
    width: 100%;
    height: 250px;
    background-color: #4D6452;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}
footer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer > div > p {
    font-family: 'AppleUL';
    color: #fff;
}
footer > div > p > .number {
    font-family: 'ManropeR';
}

@media screen and (max-width: 980px) {
    footer { font-size: 14px; height: 220px; padding-left: 40px;} 
}
@media screen and (max-width: 768px) {
    footer { height: 200px; }
    footer > div { gap: 14px; }
}
@media screen and (max-width: 480px) {
    footer { font-size: 12px; height: 150px; padding-left: 20px;}
    footer > div { gap: 8px; }
}